.container{
    display: flex;
}
.sidenavcontainer{
    height: -webkit-fill-available;
    margin-left: 180px;
    margin-top: 20px;
}
.indusnetlogo{
    height: 45px;
}
.title{
    color: royalblue;
    margin-top: 4%;
}
.example-container{
    position:fixed;
}