<div class="container">
    <mat-card class="addprojectcard">
        <div fxLayout="column" fxLayoutAlign="space-between center">
            <mat-card-title class="title">Add Project</mat-card-title>
        </div>
        <mat-card-content class="cardcontaint">
            <div fxLayout="column" fxLayoutAlign="space-between center">
                <mat-form-field appearance="outline" class="input-style">
                    <mat-label>Project Name</mat-label>
                    <input type="text" matInput placeholder="Please enter the name of project"
                        [formControl]="projectName" required>
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-between center">
                <mat-form-field appearance="outline" class="input-style">
                    <mat-label>Project Description</mat-label>
                    <input type="text" matInput placeholder="Please enter the description of project"
                        [formControl]="projectDescription" required>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <div> <button mat-raised-button color="primary" (click)='addProject()'> Add Project </button></div>
            </div>
        </mat-card-content>
    </mat-card>
</div>