<div class="container">
    <mat-card class="addmembercard">
        <div fxLayout="column" fxLayoutAlign="space-between center">
            <div>
                <mat-card-title class="title">Add Member</mat-card-title>
            </div>
            <mat-card-content class="cardcontaint">
                <div fxLayout="column" fxLayoutAlign="space-between center">
                    <div>
                        <mat-form-field appearance="outline" class="input-style">
                            <mat-label>Name</mat-label>
                            <input type="employeeName" matInput placeholder="Please enter the name"
                                [formControl]="employeeName" required>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" class="input-style">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput placeholder="Please enter the emailId"
                                [formControl]="employeeEmail" required>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" class="input-style">
                            <mat-label>Mobile Number</mat-label>
                            <input type="employeeMobile" matInput placeholder="Please enter the mobile number"
                                [formControl]="employeeMobile" required>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" class="input-style">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput placeholder="Enter the password"
                                [formControl]="employeePassword" required>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" class="input-style">
                            <mat-label>Designation</mat-label>
                            <mat-select [formControl]="employeeDesignation" name="designation">
                                <mat-option value="" selected>None</mat-option>
                                <mat-option value="Project Manager">Project Manager</mat-option>
                                <mat-option value="Team Leader">Team Leader</mat-option>
                                <mat-option value="Developer">Developer</mat-option>
                                <mat-option value="Designer">Designer</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" class="input-style">
                            <mat-label>Address</mat-label>
                            <input type="text" matInput placeholder="Enter the Address" [formControl]="employeeAddress"
                                required>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div> <button mat-raised-button color="primary" (click)='addMember()'> Add Member </button></div>
                    </div>
                </div>
            </mat-card-content>
        </div>
    </mat-card>
</div>